.modal {
  background: #1f1f1f;
  border: none;
  padding: 2rem 3rem;
}
.modalHeader {
  border-bottom: none;
  padding: 3rem 2rem 2rem;
}
.title {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
}
.modalBody {
  padding: 0 2rem;
}

input.input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background: #d2d2d240;
  border: 2px solid #d2d2d2;
  border-radius: 5px;
  color: #b1b1b1;
}

input.input::placeholder {
  color: #b1b1b1;
}

input.input:focus {
  outline: none;
}

button.btnSubmit {
  width: 100%;
  margin-top: 9px;
  background: linear-gradient(
    90deg,
    #4dd4f7 0%,
    #9090fb 36.46%,
    #ff6b81 71.35%,
    #fbdf63 100%
  );
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
span.link {
  font-weight: 700;
  cursor: pointer;
}
