* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.body {
  width: 100%;
  background: #0b0b0b;
}

.chat {
  width: 100%;
  height: 100vh;
  background: #0b0b0b;
}
.btn18 {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  font-family: 'Avenir Lt Std';
}
.btn_dark {
  background: #ababab26;
  border: none;
  border-radius: 5px;
  padding: 7px 1rem;
}
.btn_light_blue {
  background: #59a6d6ef;
  border: none;
  border-radius: 5px;
  padding: 7px 2rem;
}

.btnRainbow {
  background: linear-gradient(
    90deg,
    #4dd4f7 0%,
    #9090fb 36.46%,
    #ff6b81 71.35%,
    #fbdf63 100%
  );
  border: none;
  border-radius: 5px;
  padding: 7px 1rem;
}

.profile {
  width: 30%;
  padding: 0 43px 39px;
}

.content {
  width: 70%;
}

.vertical-line {
  background: #6a6a6a4d;
  height: 100%;
  width: 1px;
}

.logo {
  font-size: 30px;
  padding: 1rem;
  font-family: 'Rochester', cursive;
  background: linear-gradient(
    90deg,
    #4dd4f7 1%,
    #9090fb 10%,
    #ff6b81 20%,
    #fbdf63 30%,
    #d9f0f4 70%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link {
  text-decoration: none;
}
h2 {
  color: white;
}

.pff_line {
  width: 1px;
  height: 60px;
  background: #6a6a6a4d;
}
.profile_btn_list_left_bottom {
  display: flex;
  margin-bottom: 30px;
  cursor: pointer;
  text-decoration: none;
}

p.btn_list {
  color: #fff;
  margin-left: 1rem;
}
p.btn_list_inactive {
  color: #ababab;
  margin-left: 1rem;
}

.horizontal_line {
  width: 100%;
  height: 1px;
  border: 1px solid #6a6a6a4d;
  margin-bottom: 10px;
}

.content {
  padding: 1rem 43px;
}
p.Profile_user_description {
  margin-bottom: 2rem;
}
/*
======================
Navigation
======================
 */

.nav_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.search {
  background-color: #ababab26;
  border-radius: 5px;
  width: 400px;
  padding: 7px 15px;
  height: 42px;
}

input.search {
  border: none;
  background: transparent;
  padding: 0;
  margin-left: 1rem;
  width: 300px;
  height: 18px;
}
input.search:focus {
  outline: none;
}

p.plus_icon {
  margin: 0;
  padding: 0px 9px;
  border-radius: 5px;
  background: #00000040;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-right: 1rem;
}
.create-post {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-weight: 700;
}

.img_nav_btn_list {
  margin-right: 2rem;
  cursor: pointer;
}

/*
======================
Feed
======================
 */

.feed_container {
  padding-top: 3rem;
  height: 100%;
}
h1.h1_content_title {
  color: #fff;
  font-family: 'Avenir Lt Std';
  font-size: 36px;
  font-weight: 800;
}

.feed_content {
  margin-top: 2rem;
  height: 100vh !important;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.grid_item {
  margin-bottom: 0;
}
/* Card */
.card_item {
  width: 300px;
  height: auto;
  margin-top: 1rem;
}

img.card_img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 5px;
}
.card_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  cursor: default;
}
.card_user {
  display: flex;
}
img.card_img_user {
  border: 2px solid transparent;
  margin: 0;
  width: 35px;
  height: 35px;
  background: linear-gradient(
    90deg,
    #4dd4f7 0%,
    #9090fb 30.73%,
    #ff6b81 68.75%,
    #fbdf63 100%
  );
  border-radius: 50%;
}

.card_lcm_list_icon {
  display: flex;
  justify-content: space-evenly;
}
.card_lcm_list_icon img {
  width: 20px;
  height: 17px;
}

p.like_total {
  color: #fff;
  font-size: 14px;
  font-family: 'Avenir Lt Std';
  margin-top: 1rem;
}

/* Modal Feed */

.modal-content {
  width: 1200px !important;
  left: 50%;
  background: #1f1f1f !important;
  transform: translateX(-50%);
  border-radius: 10px !important;
}
.modal_feed {
  display: flex;
  width: 900px;
  padding: 0 !important;
}

img.modal_feed_img {
  min-height: 600px;
  min-width: 490px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: fill;
}

.comment_section {
  position: relative;
  padding: 3rem 2rem;
  width: 50%;
}

.comment {
  width: 300px;
  height: 400px;
  overflow-y: auto;
  scrollbar-width: thin;
}
p.caption {
  display: block;
  margin-left: 1rem;
  color: #ababab;
}

.comment_lcm_list_icon img {
  width: 20px;
  height: 17px;
}
input.comment_input {
  position: absolute;
  bottom: 1rem;
  width: 86%;
  background: #5c5c5c;
  border: none;
  border-radius: 5px;
  padding: 7px 1rem;
  color: #fff;
}

.modal_lcm {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

/* edit profile */

.edit_profile {
  width: 100%;

  padding: 3rem 1rem;
}

.edit_profile_content {
  padding: 2rem 0;
}

.btn18 {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Avenir Lt Std';
  color: #fff;
  margin-bottom: 2rem;
}

.input,
.textarea {
  font-family: 'Avenir Lt Std';
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  padding: 7px 1rem;
  background: #d2d2d240;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
}

/* notif */

.notif {
  position: absolute;
  background: #2a2929;
  padding: 1rem 2rem;
  top: 3rem;
  width: 300px;
  right: 0;
  z-index: 100;
  border-radius: 8px;
}
p.notif_comment {
  max-width: 300px;
  word-wrap: break-word;
  margin-left: 1rem;
  color: #fff;
}
p.comment {
  color: #fff;
}
.triangle {
  position: absolute;
  right: 2rem;
  top: -1rem;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #2a2929;
}

/* chat */
.conv_list {
  width: 100%;
  height: 90vh;
  padding: 1rem;
  overflow-y: auto;
  scrollbar-width: thin;
}

.conversations {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
  cursor: pointer;
}
.conversation_detail {
  margin-left: 1.25rem;
}
img.profile_pict_chat {
  width: 45px;
  height: 45px;
}
h5.conv_name {
  color: #fff;
  margin: 0;
}
.last_msg {
  color: #ababab;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 15rem;
  height: 1.2em;
  white-space: nowrap;
}

.unread_msg {
  position: absolute;
  right: 0;
  width: 25px;
  height: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 50%;
  background-color: #908a8a;
  border: 2px solid rgb(209, 200, 200);
}
.message {
  width: 100%;
}
.messages_container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  width: 100%;
  height: 68vh;
  padding-bottom: 3rem;
}
p.message_item {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  line-height: 1.25;
  width: fit-content;
  max-width: 75%;
  padding: 0.5rem 0.875rem;
  position: relative;
  word-wrap: break-word;
}
p.message_item::before,
p.message_item::after {
  bottom: -0.1rem;
  content: '';
  height: 1rem;
  position: absolute;
}
.msg_user {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}
.from_me {
  align-self: flex-end;
  background-color: #248bf5;
  color: #fff;
}
.from_me::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}
.from_me::after {
  background-color: #0b0b0b;
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform: translate(-30px, -2px);
  width: 10px;
}

p[class^='from_'] {
  margin: 0.5rem 5px;
  width: fit-content;
}
p.from_me ~ p.from_me {
  margin: 0.25rem 0 0;
}
p.from_me ~ p.from_me:not(:last-child) {
  margin: 0.25rem 0 0;
}

p.from_me ~ p.from_me:last-child {
  margin-bottom: 0.5rem;
}

p.from_them {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
}
p.from_them:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from_them::after {
  background-color: #0b0b0b;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

input.chat_input {
  box-sizing: border-box;
  position: absolute;
  bottom: 2rem;
  width: 65%;
  color: white;
  background: #ababab26;
  border: none;
  border-radius: 3px;
  padding: 1rem 1rem;
}

input.chat_input::placeholder {
  font-size: 18px;
  color: #ababab;
}
